<html ng-app>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/angular.min.js"></script>
    <script src="/static/jquery-2.0.2.min.js"></script>
    <script src="/static/EventSource.js"></script>
    <script src="/static/jquery.panzoom.min.js"></script>
  </head>
  <body ng-controller="AlgorithmInfoCtrl">
    <div class="top-bar">
      <div class="title-bar">
        <h1><a href="http://github.com/simpleai-team/simpleai" target="_blank">SimpleAI</a></h1>
      </div>
      <div class="nav-bar">
        <ul>
          <li><a href="#" onclick="controlAlgorithm('play')">Play</a></li>
          <li><a href="#" onclick="controlAlgorithm('step')">Step</a></li>
          <li><a href="#" onclick="controlAlgorithm('pause')">Pause</a></li>
          <li><a href="#" onclick="controlAlgorithm('stop')">Stop running</a></li>
          <li>|</li>
          <li><a href="#" onclick="showTab('graph')">Graph</a></li>
          <li><a href="#" onclick="showTab('log')">Log</a></li>
          <li><a href="#" onclick="showTab('stats')">Stats</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div id="welcome" class="tab text_tab">
        <h2>Welcome to the SimpleAI execution web viewer</h2>
        <p>Started running. Click on "Next step" to continue the execution of the algorithm.</p>
        <p>On the top bar you have links to switch between the graph mode and the log mode. And on the bottom bar 
        you have information about the current step (hover with your mouse over it to see more detail).</p>
      </div>

      <div id="graph" class="tab text_tab">
        <img id="graph_image" src="/graph" />
      </div>

      <div id="log" class="tab text_tab">
        <div ng-repeat="event in events">
          <h2>{{event.name}}:</h2>
          <p>{{event.description}}</p>
        </div>
      </div>

      <div id="stats" class="tab text_tab">
        <div ng-repeat="stat in stats">
          <h2>{{stat.name}}:</h2>
          <p>{{stat.value}}</p>
        </div>
      </div>

    </div>

    <div class="bottom-bar">
      <h2>{{last_event.name}}</h2>
      <p>{{last_event.description}}</p>
    </div>

    <script>
      function AlgorithmInfoCtrl($scope) {
        $scope.last_event = {name: "hola", description: "chau"};
        $scope.events = [];
        $scope.stats = [];

        //event stream client
        var source = new EventSource('/event_stream');
        source.onmessage = function(event) {
          $scope.$apply(function() {
            data = JSON.parse(event.data);
            $scope.last_event = data.event;
            $scope.stats = data.stats;
            $scope.events.push($scope.last_event);
          });

          var graph = $('#graph_image');
          graph.attr('src', graph.attr('src'));
        };
      }

      function showTab(tab_name) {
        $('.tab').hide();
        $('#' + tab_name).show();
      }

      function controlAlgorithm(order) {
        if ($('#welcome').is(':visible')) {
          showTab('graph');
        }
        $.ajax({url: '/control/' + order});
      }

      var graph_image = $('#graph_image');
      graph_image.panzoom();
      graph_image.bind('mousewheel', function(e) {
        if (e.originalEvent.wheelDelta / 120 > 0) {
          graph_image.panzoom('zoom');
        }
        else {
          graph_image.panzoom('zoom', true);
        }
        alert(new_zoom);
      });

      showTab('welcome');
    </script>
  </body>
</html>
